diffusers==0.24.0
fastapi==0.110.0
insightface==0.7.3
ip-adapter @ git+https://github.com/tencent-ailab/IP-Adapter.git
numpy==1.24.4
Pillow==10.1.0
Pillow==10.2.0
Requests==2.31.0
streamlit==1.29.0
torch==2.1.2
tqdm==4.66.1